
<form action='/detector' method='get'>
  <div class="form-group">
    <label for="word">Word</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Submit Word!</button>
</form>
